@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    background: #FFF;
}
:root{
    --primary-text: 1rem;
    --secondary-text: 1.8rem;
    --small-text: 0.8rem;

    --main-text: #3A3A3A;
    --text-back: #18191F;
    --text-gray: #787885;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* -----------------nav----------------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px 0;
}
.nav-items ul{
    display: flex;
}
ul li{
    margin-left: 2.2rem;
}
ul li a{
    font-size: var(--primary-text);
    font-weight: 600px;
    color: var(--main-text);
}
.nav-title{
    color: var(--main-text);
    font-size: 1.5rem;
    font-weight: 700;
}
/* -----------------/nav----------------- */
/* -----------------banner----------------- */
.banner{
    display: flex;
    margin: 50px 120px;
    align-items: center;
    justify-content: space-between;
}
.banner-img{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
}
.banner-title{
    columns: var(--main-text);
    font-size: 3.2rem;
    font-weight: 700;
}
.banner-description{
    color: var(--main-text);
    font-size: var(--primary-text);
    font-weight: 600;
}
.btn-primary{
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}
.fa-arrow-right{
    background-color: #E02C6D;
    color: #FFFFFF;
}
/* -----------------/banner----------------- */
/* -----------------main----------------- */
main{
    max-width: 1420px;
    margin: 0 auto;
}
/* logo section */
.logo-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/* popular section */
.popular-text{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
/* card section */
.icon-star{
    display: flex;
    align-items: center;
}
.card-item img {
    width: 100%;
}
.card-item{
    padding: 5px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 1rem 0;
}
.popular-text{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
}
.fa-star{
    color: #FB8200;
}
.fa-star-half{
    color: #FB8200;
}
.price-text{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.card-description{
    color:  #787885;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
/* -----------------responsive for mobile----------------- */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        margin: 10px;
    }
    .banner{
        margin: 20px;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    .logo-container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }
}
/* -----------------responsive for table----------------- */
@media screen and (min-width: 577px) and (max-width: 990px) {
    nav{
        margin: 20px;
    }
    .banner{
        margin: 30px;
        
    }
}
